h1 {
  display: block;
  text-align: center;
  border-radius: 5px;
  margin-top: 30px;
}

.slider {
  /* display: block; */
  /*min and max changes size of slider?*/
  height: 10px;
  min-width: 260px;
  max-width: 640px;
  /* height: ;
  width: ; */
  margin: auto;
  margin-top: 20px;
  position: relative;
}

p {
  text-align: left;
  padding: 10px;
  margin-top: 20px;
}

.content {
  padding: 50px;
  padding-bottom: 5px;
  display: flex;
  font-size: 1.3rem;
}

.dynamic {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #eee;
}

.bubble-chart {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(219, 207, 207);
  min-width: 1200px;
  width: auto;
  margin-right: 20px;
  /* float: left; */
}

.text {
  width: 400px;
  background-color: rgb(219, 207, 207);
  padding: 20px;
  border-radius: 5px;
  margin-right: 50px;
  line-height: 25px;
}

.worldmap {
  /* border-radius: 1px; */
  align-items: center;
  padding: 10px;
  background-color: rgb(10, 9, 9);
  width: 100%;
  margin-right: 20px;
}

.text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-right: 100px;
}

.svg-chart {
  border-radius: 5px;
  /* padding: 10px;
  background-color: rgb(219, 207, 207);
  width: auto;
  height: 100px;
  margin-right: 20px;
  margin-left: 20px; */
}

.svg-colors {
  max-width: 100vw;
  max-height: 100vw;
}

.boxes {
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 5px;
  margin-bottom: 5px;
}

.general-background {
  background-color: #eee;
}

.container {
  height: 1000px;
  width: 2000;
  background-color: red;
  /* overflow: hidden; */
}
.right {
  width: 1000px;
  float: center;
  background: #fffc54;
}
.left {
  background: #e3e3dc;
  width: 300px;
  overflow: hidden;
}
